.dropDownContainer h2{
    background: var(--main-color);
    color:white;
    font-family: 'montserrat', sans-serif;
    font-size : 13px;
    font-weight : 500;
    border-radius:10px;
    padding:6px 11px;
    margin-bottom : 0;
    position: relative;
}

.dropDownContainer h2::after{
    content: url(../../assets/chevron.svg);
    height:9px;
    position:absolute;
    right:30px;
    transition: all 0.3s ease-in-out;
}

.dropDownContainer ul {
    background: #F6F6F6;
    color: var(--main-color);
    font-family: 'montserrat', sans-serif;
    font-size : 12px;
    font-weight: 400;
    margin: 0;  
    padding: 17px 7px 20px 11px;
    display: none;
}

.dropDownContainer li{
    list-style: none;
}

.dropDownContainer.isActive ul {
    display: block;
}

.dropDownContainer.isActive h2::after {
    transform-origin: center;
    transform: translateY(5px) rotateZ(180deg);
}

/*---------DESKTOP---------*/
@media (min-width: 1440px) { 
    .dropDownContainer h2{
        padding: 13px 11px;
    }
    
    .dropDownContainer h2::after{
        height:15px;
    }
    
    .dropDownContainer.isActive h2::after {
        transform: translateY(15px) rotateZ(180deg) ;
    }
}