.bannerContainer figure{
    position:relative;
    margin : 0;
}

.bannerContainer img{
    height:111px;
    width:100%;
    border-radius: 10px;
}

.bannerContainer .overlay{
    position:absolute;
    top: 0;
    background:black;
    opacity : 0.3;
    width:100%;
    height:111px;
    border-radius: 10px;
}

.bannerContainer figcaption{
    font-family: 'Monserrat', sans-serif;
    font-weight: 500;
    font-size:24px;
    color:white;
    position:absolute;
    top:31px;
    left:16px;
}

/*---------DESKTOP---------*/
@media (min-width: 1440px) { 
    .bannerContainer figcaption{
        font-size:48px;
        top: calc(50% - 24px);
        left: calc(50% - 310px);
    }
    
    .bannerContainer img{
        height:223px;
    }

    .bannerContainer .overlay{
        height:223px;
    }
    .bannerContainer br{
        display: none;
    }
    
}