.cardContainer figure{
    position : relative;
    margin : 20px;
}

.cardContainer img{
    border-radius: 10px;
    width:100%;
    height:255px;
}

.cardContainer a{
    text-decoration: none;
}

.cardContainer figcaption{
    font-family: 'montserrat', sans-serif;
    font-weight: 500;
    font-size: 18px;
    color : white;
    position : absolute;
    bottom : 15px;
    left:20px;
}
