footer{
    background: black;
    color:white;
    width: 100vw;
    text-align: center;
    padding : 62px 10px;
    height: 85px;
}
footer img{
    width:122px;
    margin-bottom: 10px;
}
footer p{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 12px;
}
